network:
  version: 2
  ethernets:
{% if ens5_mac is defined %}
    ens5:
      match:
        macaddress: "{{ ens5_mac }}"
      dhcp4: true
      dhcp6: false
{% endif %}
{% if ens6_mac is defined %}
    ens6:
      match:
        macaddress: "{{ ens6_mac }}"
      dhcp4: false
      dhcp6: false
      addresses:
        - {{ client_ip }}/{{ client_netmask }}
{% endif %}
